
<nav>
<ul>
<li>General</li>
<li>Path Browser</li>
</ul>
</nav>

{% import "_includes/forms" as forms %}

{{ forms.textField({
    first: true,
    label: "Admin Secure Login Path (Route)",
    name: 'default_admin_url_route',
    value: settings.default_admin_url_route
}) 

}}


{{ forms.textField({
    first: true,
    label: "Default Global Path",
    name: 'global_default_path',
    value: settings.global_default_path
})

}}


{% css %}

switchbox {display:inline-flex; width:inherit; border:1px solid #202020; border-radius:0.5em;}
switchbox switch {display:block; padding:1em; background-color:#0000ff; color:#ffffff; border-radius:0.5em;}
switchbox switch[on=true] {background-color:#202020;}
switchbox switch[on=false] {background-color:#0000ff;}
{% endcss %}

{% js %}

$(function(){


$(".switchbox").find(".switch").on("click", function(e){

var value = $(this).attr("value");
var switchbox = $(this).parent(".switchbox");
var switchbox_link = switchbox.attr("linked");
var switchbox_input = $("#settings-"+switchbox_link);



if($(this).attr("on")=="false"){

switchbox_input.val(value);
switchbox.find(".switch[on=true]").attr("on", false);
$(this).attr("on", true);

}



});

});

{% endjs %}

<div>
<label><b>Unqiue User Urls</b</label>
<switchbox class="switchbox" linked="unique_user_urls">
{% if settings.unique_user_urls == "true" %}
<switch class="switch" on="true" value="true">on</switch>
<switch class="switch" on="false" value="false">off</switch>
{% elseif settings.unique_user_urls == "false" %}
<switch class="switch" on="false" value="true">on</switch>
<switch class="switch" on="true" value="false">off</switch>
{% endif %}
</switchbox>

<input id="unique_user_urls" type="hidden" name="unique_user_urls" value="{{settings.unique_user_urls}}" />
</div>

{{ forms.textField({
    label: "Bar",
    name: 'bar',
    value: settings.bar
}) }}
